<h3>Schools</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let school of schoolsInput">
      <th scope="row">{{school.id}}</th>
        <td>{{school.name}}</td>
        <td>
          <div class="d-grid gap-1 d-md-flex">
            <button class="btn btn-outline-primary btn-sm" (click)="collapse.toggle()"
              (click)="getId(school.id)" (click)="open(school.id)" [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample">Edit</button>
            <button class="btn btn-outline-danger btn-sm" (click)="removeSchool(school.id)">Remove</button>
          </div>
        </td>
    </tr>
  </tbody>
</table>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="container-fluid">
  <div class="card">
    <div class="card-body">
      Maybe edit somehow {{schoolId}}
    </div>
  </div>
</div>