<div class="modal-header">
    <h4 class="modal-title">{{my_modal_title}}</h4>    
  </div>
  <form >
  <div class="modal-body" >
        <div class="mb-2 row">
          <label class="col-sm-2 col-form-label text-nowrap">New name</label>
          <div class="col-sm-10">
            <input name="todoName" [(ngModel)]="schoolName" type="text" class="form-control form-control-sm" />
          </div>
        </div>
    <p>Id: {{my_modal_schoolId}}</p>    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary mb-3" (click)="passBack()" (click)="activeModal.close('Save')">
        Submit
      </button>
    <button type="button"  class="btn btn-outline-dark mb-3" (click)="activeModal.close('Close click')">Close</button>
  </div>
</form>